<!DOCTYPE html>
{% extends "base.html" %}

{% block app_content %}
<!-- link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" -->

<script language=javascript>
    var selected_row = null;
        selected_id = null;
    function select_row(row)
    {
      if(selected_row != null) selected_row.className = '';
      selected_row = row;
      if(selected_row != null) {
        selected_row.className = 'selected';
        selected_id = row.cells[0].innerHTML;
        document.getElementById("del_id").value = selected_id;
        document.getElementById("del_button").hidden = false;
      }
    }
</script>

<style>.selected { background-color:#D3D3D3; }</style>

<h3 class="sub-header">Модели техники</h3>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Наименование</th>
            <th>Тип</th>
        </tr>
        </thead>
        <tbody>
        {% for list in list %}
        <tr onclick='select_row(this)'>
            <td>{{ list.id }}</td>
            <td>{{ list.name }}</td>
            <td>{{ list.model_type.typename }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--
    <INPUT TYPE=button VALUE=" Показать ID " LANGUAGE="Javascript" onclick="alert(selected_id)">
    --!>

    <form method="post" action="/lists/models/delete_row">
        <input type="button" value="Добавить модель" onClick='location.href="{{ url_for('add_model') }}"'>
        <input type="hidden" name="del_id" id="del_id">
        <button type="submit" hidden="true" id="del_button">Удалить строку</button>
    </form>

</div>


{% endblock %}
