<!DOCTYPE html>
<!--
{% extends "base.html" %}
--!>

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Новый контрагент</h1>

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>


<!--
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <a href="{{ url_for('l_org') }}">Назад</a>
        <p>
            {{ form.fullname.label }}<br>
            {{ form.fullname(size=128) }}<br>
            {% for error in form.fullname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.inn.label }}<br>
            {{ form.inn(size=12) }}<br>
            {% for error in form.inn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.kpp.label }}<br>
            {{ form.kpp(size=9) }}<br>
            {% for error in form.kpp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.okpo.label }}<br>
            {{ form.okpo(size=10) }}<br>
        </p>
        <p>
            {{ form.off_address.label }}<br>
            {{ form.off_address() }}<br>
        </p>
        <p>
            {{ form.post_address.label }}<br>
            {{ form.post_address() }}<br>
        </p>
        <p>
            {{ form.head_position.label }}<br>
            {{ form.head_position(size=30) }}<br>
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}<br>
        </p>
        <p>
            {{ form.patronymic.label }}<br>
            {{ form.patronymic(size=32) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=120) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
--!>
{% endblock %}
